Requirements:
Follow the steps to install all requirements as in readme of each git repository
Or 
Check if all the requirements exist. 

1) Torch
2) LuaRocks
3) LuaRocks install nn
4) LuaRocks install nngraph
5) luarocks install image 
6) luarocks install cutorch
7) luarocks install cunn
8) luarocks install loadcaffe
9) Keras version 1.0.2
10) Theano  0.8.0
11) scikit-learn
12) Spacy version 0.100.6
13) OpenCV 3.0
14) Python 2.7
15) apt-get install libprotobuf-dev 
16) apt-get install protobuf-compiler
